body {
  font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
}

/* ---------------estilos componente navigation-------------- */
.header-top-line, .header-main, .button-services, .btn, a, .parrafo-primario-services, .text-1-call-me, .text-1-cases-of-success {
  font-family:'Arimo', sans-serif;
  letter-spacing: .125rem;
  font-weight: 700;
  font-size: .75rem;
  line-height: 1.5;
}

.nav-link{
  color: #000 !important;
}
.nav-link:hover{
  color: #007bff !important;
  
}

.boton-facebook:hover{
  background-color:#007bff !important ;
}


/* ---------estilos componente header-index-------------- */
#header-index{
  background-image: url(../images/negocios.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay{
  position: absolute;
  background-color: #161c2d;
  opacity: .7;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.columna-izquierda-header-index{
    height: 500px;
    
}

.comparendos{
    color: #007bff;
}

.columna-izquierda-header-index h5{
  color:#869ab8;
}

.caja-columna-derecha-header-index{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* estilos componente cards index */

#cards-index{
  background-color:#f9f9f9!important;
}

.card-index{
    background-color:#007bff;
    color: white;
    transition: all 0.5s;
}
.card-index:hover {
    transform: translate(0, -5px);
    background-color: white !important; 
    color: black;
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.35);
}


/* ------------------animaciones------------------ */

.animadoproposal {
    opacity: 0;
    transition: all 0.5s;
  }
  
  
  .mostrarIzquierdaProposal {
    animation: mostrarIzquierdaProposal 1s;
    animation-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  @keyframes mostrarIzquierdaProposal {
    0% {
      transform: translateX(-60px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .mostrarArribaProposal {
    animation: mostrarArribaProposal 1s;
    animation-delay: 0.7s;
    transition-delay: 0.7s;
  }
  
  @keyframes mostrarArribaProposal {
    0% {
      transform: translateY(60px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .mostrarDerechaProposal {
    animation: mostrarDerechaProposal 1s;
    animation-delay: 1.2s;
    transition-delay: 1.2s;
  }
  
  @keyframes mostrarDerechaProposal {
    0% {
      transform: translateX(60px);
    }
    100% {
      transform: translateX(0);
    }
  }


  /* animacion componente services-index */

  .animadoservices {
    opacity: 0;
    transition: all 0.5s;
  }
  
  .mostrarArribaService {
    animation: mostrarArribaService 1s;
    /* animation-delay: .2s;
    transition-delay: .2s; */
  }
  
  @keyframes mostrarArribaService {
    0% {
      transform: translateY(60px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* -----------------estilos componente services-index---------------- */

  .container-services{
   
  }

  .services-header-image1{
    background-image: url(../images/work.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
 

  /* .btn-1{
    background-color:#f5f6fe ;
    font-weight: 700;
    padding: 0.6rem 1.25rem;
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: #4550E6;
  }
  
  .btn-1 i {
    vertical-align: -.125em
  }*/
  
  .btn-1:hover{
    color: #4550E6;
    transform: scale(1.04);
    -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.27);
  }

  .image-services{
    object-fit: cover;
  }


  /* -----------estilos componente footer------------ */

  footer {
    color: white;
    background: #21325b ;
  }

  .terminos a{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .terminos a:hover{
    color: gainsboro;
  }

  /* ------------estilos componente call-me------------------- */

  #call-me{
    background-image: url(../images/car.jpg);
    background-size: cover;
    background-position: center;
    color: white;
  }


  /* ------------------media-queries----------------------- */

  @media screen and (max-width: 575.98px) {

    /* header-index */

    .container-header-index {
      
    }
 
    #header-index{
      
      width: 100%;
      height: 100%;

    }

    .title-header{
      font-size: 2.5rem;
    }

    .columna-izquierda-header-index {
      height: 420px;
    }

    /* services-index */

    
  }

  @media screen and (min-width: 576px) and (max-width: 767.98px) { 

    /* header-index */

    #header-index{
      margin-top: 60px;
      width: 100%;
      height: 100%;
    }

    .columna-izquierda-header-index{
      height: 600px;
    }

     /* services-index */

    
    
   }